{% extends "index.html" %}
{% load static %}
{% block content %}
  <body>

  <main class="page cv-page">
    <section class="portfolio-block cv">
      <div class="container">
        <div class="group">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-info portfolio-info-card">
                <h2>Contact Info</h2>
                <div class="row">
                  <div class="col-1"><i class="icon ion-person icon"></i></div>
                  <div class="col-9"><span>Anastasia</span></div>
                </div>
                <div class="row">
                  <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                  <div class="col-9"><span>+380 1234 567</span></div>
                </div>
                <div class="row">
                  <div class="col-1"><i class="icon ion-at icon"></i></div>
                  <div class="col-9"><span>interiors@email.com</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="heading">
                <h2 class="text-center">About me</h2>
              </div>
              <p class="text-center text-muted">Hello, I'm Anastasia, and I'm passionate about creating serene and
                harmonious living spaces through the art of minimalism.

                My design philosophy revolves around creating spaces that breathe, where each piece of furniture, every
                decoration, and every choice of material plays a role in enhancing functionality and promoting
                relaxation. Whether you're looking to revamp your home or workspace, I'm here to guide you in embracing
                the elegance of minimalism.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
