<!DOCTYPE html>
{%  load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - boring-interiors</title>
    <meta name="description" content="We are creating interiors where you want yo live">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static "assets/fonts/ionicons.min.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{% url 'app:index' %}">boring-interiors</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'app:index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'app:projects_list' %}">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'app:contacts' %}">Contacts</a></li>
                  {% if user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout'%}">Log out</a></li>
                  {% else %}
                  <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login'%}">Log in</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
      {% block content %}
        <section class="portfolio-block block-intro">
            <div class="container">
                <div><img class="avatar" src="{% static "assets/img/avatars/avatar.jpg"%}"></div>
                <div class="about-me">
                    <p>Hello! I am <strong>Anastasia</strong>. "I work as an interior designer. I have a passion for creating minimalistic, modern, and comfortable solutions for your lovely home.</p></div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static "assets/img/home/7.jpg"%}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static "assets/img/home/2.jpg"%}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static "assets/img/home/8.jpg"%}"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><a class="btn btn-outline-primary btn-lg" type="button" href="{% url 'app:projects_list' %}">More projects</a></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Space planning decisions</h3>
                                <p class="card-text">Space planning decisions are the strategic choices made to optimize the layout and utilization of physical spaces. Learn how to make informed space planning decisions to create harmonious, efficient, and aesthetically pleasing environments on our website.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">3D visualisations</h3>
                                <p class="card-text">3D visualizations are powerful tools that bring concepts and designs to life.  Explore the world of immersive and engaging visualizations that help you convey ideas, make informed decisions, and captivate your audience on our website.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Technical supervision</h3>
                                <p class="card-text">Technical supervision is the essential oversight and management of construction and engineering projects.  Discover how our expertise can help safeguard the success of your ventures through meticulous monitoring and quality assurance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Interiors Solution</h3>
                    <p>My design philosophy revolves around creating spaces that breathe, where each piece of furniture, every decoration, and every choice of material plays a role in enhancing functionality and promoting relaxation. Whether you're looking to revamp your home or workspace, I'm here to guide you in embracing the elegance of minimalism.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content"><img class="img-fluid image" src="{% static "assets/img/home/9.jpg"%}"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="{% url 'app:index' %}">Home</a><a href="#">Projects</a><a href="{% url 'app:contacts' %}">Contacts</a></div>
            <div class="social-icons"><a href="https://www.facebook.com"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/boring_interiors/"><i class="icon ion-social-instagram-outline"></i></a><a href="https://twitter.com"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>